* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #1c1c1c;
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    font-size: 2em;
}

#top {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ffb4b4;
    position:fixed;
    width: 15vw;
    height: 100vh;
}

#top li {
    list-style-type: none;
    margin: 10px auto;
}

.btn {
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding: 5px;
    width: 200px;
    border: 2px solid #cf8a8ae5;
    background: #f8d1d1;
    transition: 0.3s;
}

.btn:hover{
    background-color: #cf8a8ae5;
    color: #f8d1d1;
}
