* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #1c1c1c;
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    font-size: 2em;
}

#top {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ffb4b4;
    position:fixed;
    width: 15vw;
    height: 100vh;
}

